<a href="https://colab.research.google.com/github/heechan04/colab/blob/main/Lession6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(2,6,1) :
  print(i,"난생처음 파이썬은 재미있습니다. ^^")

2 난생처음 파이썬은 재미있습니다. ^^
3 난생처음 파이썬은 재미있습니다. ^^
4 난생처음 파이썬은 재미있습니다. ^^
5 난생처음 파이썬은 재미있습니다. ^^

In [ ]:
for i in range(3) :
  print(i,"안산공고 컴퓨터과 최고")

0 안산공고 컴퓨터과 최고
1 안산공고 컴퓨터과 최고
2 안산공고 컴퓨터과 최고

In [ ]:
myList = ["짜장면", "김밥", "라면"]
for i in myList :
  print(i)

짜장면
김밥
라면

In [ ]:
for i in range(2, 8, 2) :
  print(i)

2
4
6

In [ ]:
sum = 0
for i in range(1, 100, 2) :
  sum = sum + i
print(sum)

2500

In [ ]:
flag = 1
sum = 0
for i in range(1,100, 2) :
  if flag == 1 :
    sum = sum + i
    flag = flag * - 1
  else :
    sum = sum - i
    flag = flag * - 1
print(sum)

-50

In [ ]:
fact = 1
friends_num = 5
for i in range(1,friends_num + 1,1) :
  fact = fact * i
print("A, B, C, D, E 학생들을 순서대로 세우는 경우의 수 : ",fact)

A, B, C, D, E 학생들을 순서대로 세우는 경우의 수 :  120

In [ ]:
hap = 0
for i in range(1, 11,1) :
  hap = hap + i
print("1에서 10까지의 합 :", hap)

1에서 10까지의 합 : 55

In [ ]:
i, hap = 0, 0

for i in range(1001, 2001, 2) :
  hap += i
print("1000에서 2000까지의 홀수의 합 : ", hap)

1000에서 2000까지의 홀수의 합 :  750000

In [ ]:
for i in  range(3) :
  for k in range(2) :
    print("난생처음은 쉽습니다. ^^ (i값:",i,"k값:",k,")")

난생처음은 쉽습니다. ^^ (i값: 0 k값: 0 )
난생처음은 쉽습니다. ^^ (i값: 0 k값: 1 )
난생처음은 쉽습니다. ^^ (i값: 1 k값: 0 )
난생처음은 쉽습니다. ^^ (i값: 1 k값: 1 )
난생처음은 쉽습니다. ^^ (i값: 2 k값: 0 )
난생처음은 쉽습니다. ^^ (i값: 2 k값: 1 )

In [ ]:
for i in range (2) :
  for k in range(3) :
    print("중첩 for문입니다.")

중첩 for문입니다.
중첩 for문입니다.
중첩 for문입니다.
중첩 for문입니다.
중첩 for문입니다.
중첩 for문입니다.

In [23]:
a = 0
b = 0
for a in range(2,10,1) :
  for b in range(1,10) :
    print(a, "x", b, "=", a * b)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [29]:
hap = 0
num1, num2 = 0, 0

while True :
  num1 = float(input("숫자1 ==> "))
  if num1 == 0 :
    break
  num2 = float(input("숫자2 ==> "))
  if num2 == 0 :
    break
  
  hap = num1 + num2
  print(num1, "+", num2, "=", hap)

숫자1 ==> 2000000
숫자2 ==> 200000
2000000.0 + 200000.0 = 2200000.0
숫자1 ==> 0

In [41]:
import random
i = 0
while True :
  r1 = random.randint(1,1000)
  r2 = random.randint(1,1000)
  r3 = random.randint(1,1000)
  i += 1
  if r1 == r2 == r3 :
    break
print("3개 주사위는 모두", r1,"입니다.")
print("같은 숫자가 나오기까지", i, "번 던졌습니다")

3개 주사위는 모두 198 입니다.
같은 숫자가 나오기까지 487596 번 던졌습니다

In [45]:
import random

for i in range (1,11) :
  com_num = random.randint(1,5)
  print("게임",i,"회", end='')
  user_num = int(input(": 컴퓨터가 생각한 숫자는?"))
  if com_num == user_num :
    print("맞추셨네요. 축하합니다!!")
    break
  else :
    print("아까워요.", com_num, "였는데요. 다시 해보세요")
print("게임을 마칩니다.")

게임 1 회: 컴퓨터가 생각한 숫자는?2
아까워요. 1 였는데요. 다시 해보세요
게임 2 회: 컴퓨터가 생각한 숫자는?3
아까워요. 2 였는데요. 다시 해보세요
게임 3 회: 컴퓨터가 생각한 숫자는?4
맞췄네요. 축하합니다!!
게임을 마칩니다.

In [91]:
import random
com_list = [1,2,3,4,5,6,7,8,9]
com_num, usr_num = [], []

def usr_fun() :
  usr = input("3개의 숫자를 입력(1~9까지) ==> ")
  for i in range(0,5,2) :
    usr_num.append(int(usr[i]))

# 컴퓨터 - 3개의 중복되지 않는 숫자 만들기------------------------
for i in range (3) :
  r = random.choice(com_list)
  com_list.remove(r)
  com_num.append(r)
print("** 야구 게임 **")
#스트라이크 및 볼 판정----------------------------------------
strike, ball = 0, 0
while True :
  usr_num.clear()
  usr_fun()
  for i in range(3) :
    if com_num[i] == usr_num[i] :
      strike = strike + 1
    elif usr_num[i] in com_num :
      ball = ball + 1
  print(strike, "스트라이크", " : ", ball, "볼")
  if strike == 3 : 
    print("축하합니다.")
    break
  strike, ball = 0, 0

** 야구 게임 **
3개의 숫자를 입력(1~9까지) ==> 1 2 3
0 스트라이크  :  1 볼
3개의 숫자를 입력(1~9까지) ==> 2 3 4
1 스트라이크  :  1 볼
3개의 숫자를 입력(1~9까지) ==> 2 5 7
0 스트라이크  :  0 볼
3개의 숫자를 입력(1~9까지) ==> 3 4 5
0 스트라이크  :  2 볼
3개의 숫자를 입력(1~9까지) ==> 4 3 7
2 스트라이크  :  0 볼
3개의 숫자를 입력(1~9까지) ==> 4 3 2
2 스트라이크  :  0 볼
3개의 숫자를 입력(1~9까지) ==> 4 3 9
2 스트라이크  :  0 볼
3개의 숫자를 입력(1~9까지) ==> 7 6 5
0 스트라이크  :  1 볼
3개의 숫자를 입력(1~9까지) ==> 4 3 6
3 스트라이크  :  0 볼
축하합니다.