<a href="https://colab.research.google.com/github/heechan04/colab/blob/main/Lession8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def plus(v1, v2) :
  result = 0
  result = v1 + v2

  return result

hap = 0

hap = plus(100,200)
print("100과 200의 plus()함수 결과는 ", hap)

100과 200의 plus()함수 결과는  300

In [2]:
def calc(op, num1, num2) :
  if op == "+" :
    return num1 + num2
  elif op == "-" :
    return num1 - num2
  elif op == "*" :
    return num1 * num2
  elif op == "/" :
    return num1 / num2
op = input("계산 입력 (+, -, *, /) : ")
num1 = int(input("첫 번째 숫자 입력 : "))
num2 = int(input("두 번째 숫자 입력 : "))

print("## 계산기 : ", num1, op, num2,"=",calc(op,num1,num2))

계산 입력 (+, -, *, /) : -
첫 번째 숫자 입력 : 56
두 번째 숫자 입력 : 34
## 계산기 :  56 - 34 = 22

In [6]:
import random

lotto_num = []

def lotto() :
  rnd = random.randint(1,45)
  return rnd

while True :
  rnd = lotto()
  if rnd in lotto_num :
    pass
  else :
    lotto_num.append(lotto())
  
  if len(lotto_num) == 6 :
    break

print(lotto_num)

[39, 26, 5, 30, 23, 35]

In [11]:
from datetime import date
from datetime import datetime
from datetime import timedelta

today = date.fromisoformat('2022-10-07')
now = datetime.now()
after = timedelta(days=100)

birth = datetime(2004,12,10)
print(now - birth)

6510 days, 6:21:21.506815