<a href="https://colab.research.google.com/github/heechan04/colab/blob/main/Lession6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
for i in range(2,6,1) :
  print(i,"난생처음 파이썬은 재미있습니다. ^^")

2 난생처음 파이썬은 재미있습니다. ^^
3 난생처음 파이썬은 재미있습니다. ^^
4 난생처음 파이썬은 재미있습니다. ^^
5 난생처음 파이썬은 재미있습니다. ^^

In [3]:
for i in range(3) :
  print(i,"안산공고 컴퓨터과 최고")

0 안산공고 컴퓨터과 최고
1 안산공고 컴퓨터과 최고
2 안산공고 컴퓨터과 최고

In [4]:
myList = ["짜장면", "김밥", "라면"]
for i in myList :
  print(i)

짜장면
김밥
라면

In [6]:
for i in range(2, 8, 2) :
  print(i)

2
4
6

In [10]:
sum = 0
for i in range(1, 100, 2) :
  sum = sum + i
print(sum)

2500

In [15]:
flag = 1
sum = 0
for i in range(1,100, 2) :
  if flag == 1 :
    sum = sum + i
    flag = flag * - 1
  else :
    sum = sum - i
    flag = flag * - 1
print(sum)

-50

In [20]:
fact = 1
friends_num = 5
for i in range(1,friends_num + 1,1) :
  fact = fact * i
print("A, B, C, D, E 학생들을 순서대로 세우는 경우의 수 : ",fact)

A, B, C, D, E 학생들을 순서대로 세우는 경우의 수 :  120

In [21]:
hap = 0
for i in range(1, 11,1) :
  hap = hap + i
print("1에서 10까지의 합 :", hap)

1에서 10까지의 합 : 55

In [22]:
i, hap = 0, 0

for i in range(1001, 2001, 2) :
  hap += i
print("1000에서 2000까지의 홀수의 합 : ", hap)

1000에서 2000까지의 홀수의 합 :  750000

In [23]:
for i in  range(3) :
  for k in range(2) :
    print("난생처음은 쉽습니다. ^^ (i값:",i,"k값:",k,")")

난생처음은 쉽습니다. ^^ (i값: 0 k값: 0 )
난생처음은 쉽습니다. ^^ (i값: 0 k값: 1 )
난생처음은 쉽습니다. ^^ (i값: 1 k값: 0 )
난생처음은 쉽습니다. ^^ (i값: 1 k값: 1 )
난생처음은 쉽습니다. ^^ (i값: 2 k값: 0 )
난생처음은 쉽습니다. ^^ (i값: 2 k값: 1 )

In [24]:
for i in range (2) :
  for k in range(3) :
    print("중첩 for문입니다.")

중첩 for문입니다.
중첩 for문입니다.
중첩 for문입니다.
중첩 for문입니다.
중첩 for문입니다.
중첩 for문입니다.

In [31]:
for a in range(2,) :
  for b in range(9) :
    print(a, "x", b, "=" )

0 x 0 =
0 x 1 =
0 x 2 =
0 x 3 =
0 x 4 =
0 x 5 =
0 x 6 =
0 x 7 =
0 x 8 =
1 x 0 =
1 x 1 =
1 x 2 =
1 x 3 =
1 x 4 =
1 x 5 =
1 x 6 =
1 x 7 =
1 x 8 =