<a href="https://colab.research.google.com/github/heechan04/colab/blob/main/Lession2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2장 예제

In [1]:
a = 100
b = 200
c = a + b

print(a, "+", b, "=", c)

100 + 200 = 300

In [3]:
num1 = 500
num2 = 200
result = num1 - num2
print(num1, "-", num2, "=", result)

500 - 200 = 300

In [5]:
num1 = 8
num2 = 17
result = num1 * num2
print(num1, "x", num2, "=", result)

8 x 17 = 136

In [7]:
num1 = 8
num2 = 17
result = num1 / num2
print(num1, "/", num2, "=", result)

8 / 17 = 0.47058823529411764

나머지 구하는 연산자 : %

In [8]:
num1, num2 = 4, 2
result = num1 % num2
print(num1, "%", num2, "=", result)

4 % 2 = 0

몫을 구하는 연산자 : //

In [9]:
num1, num2 = 4, 2
result = num1 // num2
print(num1, "//", num2, "=", result)

4 // 2 = 2

문자열 연산자 : +, *

In [10]:
str1 = "안산공고"
str2 = "컴퓨터과"
result = str1 + str2
print(str1, "+", str2, "=", result)

안산공고 + 컴퓨터과 = 안산공고컴퓨터과

In [11]:
str1 = "안산공고"
result = str1 * 3
print(str1, "*", 3, "=", result)

안산공고 * 3 = 안산공고안산공고안산공고

2장 형성평가 1

In [18]:
a = 100
b = 200
c1 = a + b
c2 = a - b
c3 = a * b
c4 = a / b
print(a, "+", b, "=", c1)
print(a, "-", b, "=", c2)
print(a, "*", b, "=", c3)
print(a, "/", b, "=", c4)

100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 / 200 = 0.5

input()함수의 사용 예

In [24]:
num1 = int(input("첫 번2째 숫자 입력 ==>"))
num2 = int(input("두 번째 숫자 입력 ==>"))
result = num1 + num2
print(num1, "+", num2, "=", result)

첫 번2째 숫자 입력 ==>100
두 번째 숫자 입력 ==>200
100 + 200 = 300

In [29]:
num1 = input("이름 ==>")
num2 = input("전화번호 ==>")
print("제 이름은 ",num1, " 이고, 연락처는 ",num2, "입니다.")

이름 ==>정희찬
전화번호 ==>010-2481-5224
제 이름은  정희찬  이고, 연락처는  010-2481-5224 입니다.

In [32]:
print("## 택배를 보내기 위한 정보를 입력하세요. ##")
personName = input("받는 사람 : ")
personAddr = input("주소 : ")
weight = int(input("무게(g) : "))
print("** 받는 사람 ==>",id)
print("** 주소 ==>",adr)
print("** 배송비 ==>",weight * 5,"원")

## 택배를 보내기 위한 정보를 입력하세요. ##
받는 사람 : 정희찬
주소 : 안산시
무게(g) : 300
** 받는 사람 ==> 정희찬
** 주소 ==> 안산시
** 배송비 ==> 1500 원

In [39]:
num1 = int(input("숫자1 ==> "))
num2 = int(input("숫자2 ==> "))
print(num1, "+", num2, "=", num1 + num2)

숫자1 ==> 100
숫자2 ==> 10
100 + 10 = 110

거북이 1번 예제

In [73]:
#!pip3 install ColabTurtle
import ColabTurtle.Turtle as turtle

turtle.initializeTurtle()
turtle.left(90)
turtle.forward(130)
turtle.left(135)
turtle.forward(140)
turtle.left(150)
turtle.forward(140)
turtle.left(150)
turtle.forward(140)
turtle.left(145)
turtle.forward(140)